<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>556510313947-jfd7001l9b4hcb7623j8r9bnqi8rkdfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556510313947-jfd7001l9b4hcb7623j8r9bnqi8rkdfl</string>
	<key>API_KEY</key>
	<string>AIzaSyBeOHk9WwQhlXmaXcMAS_drKtfcUBTjgoc</string>
	<key>GCM_SENDER_ID</key>
	<string>556510313947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.articyoulate.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-9cce7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-9cce7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:556510313947:ios:35525e50e7966f36</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-9cce7.firebaseio.com</string>
</dict>
</plist>